MONGODB_URI=mongodb+srv://utkarshpawar910910:XHEPibfVEIHeYiJt@cluster0.5utazdv.mongodb.net/
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
PORT=5000
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
